<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie Tool</title>
</head>
<body>
    <form method="POST" id="search-form" action="/">
        <div class="form-group">
            <input type="text" name="query" placeholder="Enter a movie or TV series name here..">
            <button type="submit">Search</button>
        </div>
    </form>
    <% if (locals.results) { %>
    <div class="grid-container">
        <% for(var i=0; i<results.length; i++) {%>
            <%- include('include/_card',{movie:results[i]})%>
         <% } %>
    </div>

<% } %>
</body>
</html>